.btnadd {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
width:115px;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;

}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left;
}

.col-md-12 {
width: 100%;
}
.col-md-11 {
width: 91.66666667%;
}
.col-md-10 {
width: 83.33333333%;
}
.col-md-9 {
width: 75%;
}
.col-md-8 {
width: 70%;
}
.col-md-7 {
width: 58.33333333%;
}
.col-md-6 {
width: 50%;
}
.col-md-5 {
width: 41.66666667%;
}
.col-md-4 {
width: 33.33333333%;
}
.col-md-3 {
width: 25%;
}
.col-md-2 {
width: 16.66666667%;
}
.col-md-1 {
width: 8.33333333%;
}


ul
{
    list-style-type: none;
}

object{
	padding-top:10px;
	margin:10px;
	margin-left: 15%;
	width: 210px;
	height:150px;


}
form{
	margin:5px;
}

#left{
	padding-left:20px;
}

#right{
	padding-left:20px;
}
#button-up{
	margin-left:1px;

}

#middle-right{
	font-size: 20px;
	padding-right:0px;
	padding-left:5px;
}

#facebookImage{
	position: relative;
	vertical-align: top;
	margin:0px;
	top:4px;
	width:30px;
	height:30px;
}

.container{
	background-color:#ffffff;
	width: 60%;
	box-shadow: 2px 2px 3px 2px #aaaaaa;
	-webkit-box-shadow: 2px 2px 3px 2px #aaaaaa;
	-moz-box-shadow: 2px 2px 3px 2px #aaaaaa;
	-o-box-shadow: 2px 2px 3px 2px #aaaaaa;

}

.counter{
	font-size: 24px;
	margin:0px;
	
}


.button-up{
	margin-left:0px;
}

.button-down{
	margin-left:0px;
}

#my-profile-picture{
	height:40px;
	width:40px;
}

.fb-share-button
{
transform: scale(1.5);
-ms-transform: scale(1.5);
-webkit-transform: scale(1.5);
-o-transform: scale(1.5);
-moz-transform: scale(1.5);
transform-origin: top left;
-ms-transform-origin: top left;
-webkit-transform-origin: top left;
-moz-transform-origin: top left;
-webkit-transform-origin: top left;

top:-17px;
}