
{% extends 'dictionary/base.html' %}
{% load staticfiles %}
{% load embed_video_tags %}


{% block content %}

    
    {% for vocabulary in vocabulary %}


              <div id="object">
                    <div class="page-inner container" style="margin-bottom:20px">
                                
                                    <div class="col-md-2" id="left" style="padding:0px" align="center">
                                            <a class="glyphicon glyphicon-chevron-up" style="font-size:30px" id="button-up"></a><br>
                                            <span class="counter" style="font-size:30px" >{{ vocabulary.likes }}</span><br>
                                            <a class="glyphicon glyphicon-chevron-down" style="font-size:30px"  id="button-down"></a>
                                    </div>

                                    <div class="col-md-8" id="middle-left">

                                                <form id="word">
                                                    <div>
                                                        <h1 style="margin-top:0px"><a>{{ vocabulary.word }}</a></h1>
                                                    </div>
                                                </form>

                                                <form id="explain">
                                                    <div>
                                                        <h4>{{ vocabulary.description }}</h4>
                                                    </div>
                                                </form>

                                                <form id: "sentance">
                                                    <div>
                                                        <h4>{{ vocabulary.sentence }}</h4>
                                                    </div>
                                                </form>

                                    
                                        {% video vocabulary.video as my_video %}
                                        
                                           {% video my_video '512x315' %}
                                           
                                        {% endvideo %}
                                        
                                        
                                        
                                    </div>

                                    <div class="col-md-2" align="center" id="middle-right">
                                        <a class="glyphicon glyphicon-plus" style="font-size:30px" id="plus"></a>
                                        <img src="{% static "image/facebook.png" %}" style="margin-left:5px" id="facebookImage" onclick="share()">
                                        <script type="text/javascript">
                                        function share(){
                                            $('#facebookImage').click(function(e){
                                                console.log("Inside the functon:");
                                                e.preventDefault();
                                                FB.ui(
                                                {
                                                    method: 'feed',
                                                    name: 'ShareDictionary',
                                                    display: "popup",
                                                    link: ' https://sharedictionary-tom8u4286-1.c9.io/',
                                                    picture: 'https://sharedictionary-tom8u4286-1.c9.io/static/image/logo.png',
                                                    caption: 'This is the content of the "caption" field.',
                                                    description: ["{{ vocabulary.word }}\b",
                                                    "{{ vocabulary.description }}\b",
                                                    "{{vocabulary.sentence}}"]
                                                });
                                            });
                                            }
                                        </script>
                                    </div>
                                    <div class="col-md-12" style="padding:5px; padding-right:30px" align="right">
                                        <h4><span class="label label-default">By <a href="">{{ vocabulary.author }}</a> {{ vocabulary.posted_date }}</span></h4>
                                    </div>
                               
                               
                               
                               </div>
                            </div>
                            
                            

    {% endfor %}
    
                <!--Mia 這裡我們需要一張卡 告訴使用者 " 找不到自己想要的解釋嗎? 和我們分享吧 =) ? "-->
                <div class="page-inner container" style="margin-bottom:20px; padding:20px">
                    <h1 text-align:'center'>Can't find the usage you like? share with us !</h1>
                </div>
    
                            <div class="page-inner container" style="margin-bottom:20px; padding:20px">

						<form action="/create_word" class="form-horizontal" method="POST" name="create_word" id="create_word" align="conter">{% csrf_token %}
						    
						    {{ form }}
						    <div class="form-group" style="margin-top:20px;">
                                <label  class="col-sm-2 control-label">Word</label>
                                <div class="col-sm-9">
                                  <input  type="text" content = "{{ vocabulary.word }}" value="{{ vocabulary.word }}" class="form-control" style="background-color: #fafafa" placeholder="Word" name="word" id="word">
                                </div>
                              </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Description</label>
                                <div class="col-sm-9">
                                    <input  class="form-control"  style="background-color: #fafafa"placeholder="Definition" name="description" id="description">
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Example</label>
                                <div class="col-sm-9">
                                    <input  class="form-control" style="background-color: #fafafa" placeholder="Give an example" name="sentence" id="sentence">
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Video</label>
                                <div class="col-sm-9">
                                    <input  type="video" class="form-control"  style="background-color: #fafafa" placeholder="http://your_video_address" name="video" id="video">
                                </div>
                                <!--<span><button class="btnadd" id="loadvideo" onClick="loadVideo();">Upload</button></span>-->
                                <!--<span><button class="btnadd" id="loadvideo" onClick="loadVideo();">Upload</button></span>-->
                            </div>
    
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-9" id="video_frame">
                                   
                                    <!--{% video video_frame as my_video %}-->
                                        
                                    <!--       {% video my_video '512x315' %}-->
                                           
                                    <!--{% endvideo %}-->
                                <iframe width="0" height="0" id="showvideo" src="" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-9" align="right">
                                  <button type="submit" class="save btnadd"  id="add_word"> Add</button>
                                </div>
                            </div>
                        </form>

					</div>
{% endblock content %}

