
{% extends 'dictionary/base.html' %}
{% load staticfiles %}
{% load embed_video_tags %}


{% block content %}

    
    {% for vocabulary in vocabulary %}
              <div id="object" class="vocabularyobject">
                            <div class="page-inner container" style="margin:20px">
                                <div class="row">
                                    <div class="col-md-1" id="left">
                                        <ul>
                                            <li>
                                                <a class="glyphicon glyphicon-chevron-up" id="button-up"></a>
                                            </li>
                                            <li><span class="counter">{{ vocabulary.likes }}</span>
                                            </li>
                                            <li>
                                                <a class="glyphicon glyphicon-chevron-down" id="button-down"></a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="col-md-9" id="middle-left">

                                        <form id="word">
                                            <div>
                                                <a class="form-control status-box" rows="2">{{ vocabulary.word }}</a>
                                            </div>
                                        </form>

                                        <form id="explain">
                                            <div>
                                                <a class="form-control status-box" rows="2">{{ vocabulary.description }}</a>
                                            </div>
                                        </form>

                                        <form id: "sentance">
                                            <div>
                                                <a class="form-control status-box" rows="2">{{ vocabulary.sentence }}</a>
                                            </div>
                                        </form>
                                        
                                        {% video vocabulary.video as my_video %}
                                        
                                           {% video my_video '600x400' %}
                                           
                                        {% endvideo %}
    
                                        </object>

                                    </div>

                                    <div class="col-md-2" id="middle-right">
                                        <a class="glyphicon glyphicon-plus" id="plus"></a>
                                        <img src="{% static "image/facebook.png" %}" id="facebookImage">
                                        <!div class="fb-share-button"  data-layout="icon_link"></div>
                                        <script type="text/javascript">
                                        $(document).ready(function(){
                                        $('#facebookImage').click(function(e){
                                        e.preventDefault();
                                        FB.ui(
                                        {
                                        method: 'feed',
                                        name: 'ShareDictionary',
                                        display: "popup",
                                        link: ' https://sharedictionary-tom8u4286-1.c9.io/',
                                        picture: 'https://sharedictionary-tom8u4286-1.c9.io/static/image/logo.png',
                                        caption: 'This is the content of the "caption" field.',
                                        description: ["{{ vocabulary.word }}\b",
                                                    "{{ vocabulary.description }}\b",
                                                    "{{vocabulary.sentence}}"]
                                        });
                                        });
                                        });
                                        </script>
                                    </div>

                                </div>

                            </div>
                        </div>
                        

    {% endfor %}
{% endblock content %}

